<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuyue.mapper.TableMapper" >

    <select id="createTable" parameterType="com.wuyue.pojo.Table" >
        CREATE  TABLE
        <if test="tbName!=null and tbName!=''">
            ${tbName}
        </if>
        ( id int primary key auto_increment,
        <foreach collection="columns" item="col" separator=","  index="index">
          <if test="col.colName!=null and col.colName!=''">
              ${col.colName}
              <choose>
                  <when test="col.type==0">
                      varchar( ${col.length})
                  </when>
                  <when test="col.type==1">
                      bigint default null
                  </when>
                  <when test="col.type==2">
                      datetime default null
                  </when>
                  <when test="col.type==3">
                      double default null
                  </when>
              </choose>
          </if>
        </foreach>
        createTime datetime default null,
        create_id bigint DEFAULT null,
        del_status varchar(10) DEFAULT NULL ,
        last_login_date datetime DEFAULT NULL ,
        last_update_date datetime DEFAULT NULL ,
        operator_id bigint DEFAULT null,
        operator VARCHAR (30) DEFAULT null
        )ENGINE=InnoDB DEFAULT CHARSET=utf8
        <if test="tbComment!=null and tbComment!=''">
             Comment=#{tbComment}
        </if>
    </select>
    <select id="queryAllTbName" resultType="string">
        SELECT table_name FROM information_schema.tables

        WHERE table_schema = 'wuyue'

        AND table_type = 'base table'
    </select>
    <select id="queryAllColName" parameterType="string" resultType="map">
        select COLUMN_NAME from information_schema.COLUMNS where table_name = #{tbName}
        and table_schema = 'wuyue';
    </select>
    <select id="dropTBColumn" parameterType="com.wuyue.pojo.Table">
        alter table
         <if test="tbName!=null and tbName !=''">
             ${tbName}
         </if>

          <foreach collection="columns" item="col" separator="," index="index">
              drop column ${col.colName}
          </foreach>
        ;

    </select>

    <select id="renameTb" parameterType="string">

        rename table ${oldName} to  ${newName}
    </select>
    <delete id="dropTb" parameterType="com.wuyue.pojo.Table">
        drop TABLE ${tbName}
    </delete>
    <select id="addColumns"  parameterType="com.wuyue.pojo.Table">

        ALTER TABLE ${tbName} add COLUMN
        <foreach collection="columns" item="col" separator=","  index="index">
            <if test="col.colName!=null and col.colName!=''">
                ${col.colName}
                <choose>
                    <when test="col.type==0">
                        varchar( ${col.length})
                    </when>
                    <when test="col.type==1">
                        bigint default null
                    </when>
                    <when test="col.type==2">
                        datetime default null
                    </when>
                    <when test="col.type==3">
                        double default null
                    </when>
                </choose>
            </if>
        </foreach>
        <if test="tbComment!=null and tbComment!=''">
            Comment #{tbComment}
        </if>
    </select>
</mapper>